{% extends 'mypage/base.html' %}
{% block title %} Backlog - Manage your backlog {% endblock %}

{% block body %}

    <div class="container">
        <div class="col-lg-12 mt-4">
            <h1 class="text-center" style="color:white">Messages</h1>
            <hr class="bg-secondary">
        </div>
    </div>

    <div class="container">
        <div class="col-lg-6 mx-auto text-center">
            <button class="btn btn-success btn-sm mt-2 mx-auto" id="newMsgBtn" data-toggle="modal" data-target="#newMsgModal"><i class="fas fa-plus" aria-hidden="true"></i> New message</button>
            <button class="btn btn-danger btn-sm mt-2 mx-auto" id="deleteMsgBtn" data-toggle="modal" data-target="#deleteMsgModal" style="display:none"><i class="fas fa-trash" aria-hidden="true"></i> Delete</button>
        </div>

        <div class="row">
            <div class="col-lg-6 mx-auto">
            <br><h5 class="bg-light text-dark p-1 rounded-top text-center" id="inboxBtn">
                <i class="fas fa-download" aria-hidden="true"></i> Inbox
            </h5>
            <div id="inboxDiv">
                <div class="text-dark bg-light col-lg-12"><input class="mr-2" id="in-all-check" type="checkbox"><small> Select/deselect all</small></div>
                {% for m in all_messages %}
                    {% if m.recipient.username == user.username and m.shown_to_recipient %}
                        <div class="col-lg-12">
                            <input class="mr-2 in-one-check" type="checkbox" name="in" id="{{ m.pk }}">
                            <a href="#" class="link {{ m.read }} {% if not m.read and request.user == m.recipient %} text-light {% endif %}" id="{{ m.pk }}" name="inbox">
                            {{ m.title }} <span class="text-muted"> from </span><span style="color:limegreen"> {{ m.sender.username }} </span>
                            <span class="text-muted"> - {{ m.date }}</span></a>
                            <div class="message inbox m-1 ml-3 p-2 bg-light text-dark rounded" id="messageinbox{{ m.pk }}" style="display:none">
                                <span id="title{{ m.pk }}"><b>{{ m.title }}</b></span>
                                <br><span><b>From:</b> <a href="/user/{{ m.sender.username }}" id="sender{{ m.pk }}">{{ m.sender }}</a></span>
                                <br><span><b>To:</b> <a href="/user/{{ m.recipient.username }}" id="recipient{{ m.pk }}">{{ m.recipient }}</a></span>
                                <br><br><p id="content{{ m.pk }}" style="white-space: pre-wrap;">{{ m.message }}</p>
                                <hr>
                                <button class="btn btn-primary btn-sm" id="respondBtn" data-toggle="modal" data-target="#newMsgModal"><i class="fas fa-reply fa-lg" aria-hidden="true"></i> Respond</button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-6 mx-auto">
            <br><h5 class="bg-light text-dark p-1 rounded-top text-center" id="outboxBtn">
                <i class="fas fa-upload" aria-hidden="true"></i> Outbox
            </h5>
            <div id="outboxDiv">
                <div class="text-dark bg-light col-lg-12"><input class="mr-2" id="out-all-check" type="checkbox"><small> Select/deselect all</small></div>
                {% for m in all_messages %}
                    {% if m.sender.username == user.username and m.shown_to_sender %}
                        <div class="col-lg-12 outboxDiv">
                            <input class="mr-2 out-one-check" type="checkbox" name="out" id="{{ m.pk }}">
                            <a href="#" class="link {{ m.read }}" id="{{ m.pk }}" name="outbox">
                                {{ m.title }} <span class="text-muted"> to </span><span style="color:limegreen"> {{ m.recipient.username }} </span>
                                <span class="text-muted"> - {{ m.date }}</span></a>
                            <div class="message outbox m-1 ml-3 p-2 bg-white text-dark rounded" id="messageoutbox{{ m.pk }}" style="display:none">
                                <span id="title{{ m.pk }}"><b>{{ m.title }}</b></span>
                                <br><span><b>From:</b> <a href="/user/{{ m.sender.username }}" id="sender{{ m.pk }}">{{ m.sender }}</a></span>
                                <br><span><b>To:</b> <a href="/user/{{ m.recipient.username }}" id="recipient{{ m.pk }}">{{ m.recipient }}</a></span>
                                <br><br><p id="content{{ m.pk }}" style="white-space: pre-wrap;">{{ m.message }}</p>
                                <hr>
                                <button class="btn btn-primary btn-sm" id="respondBtn" data-toggle="modal" data-target="#newMsgModal"><i class="fas fa-reply fa-lg" aria-hidden="true"></i> Respond</button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>


    </div>


    <!-- Send msg Modal -->
<div class="modal fade" id="newMsgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label col-sm-12 text-muted">Send to user:</label>
                    <div class="col-sm-10 row">
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="recipientInput" name="recipient" placeholder="User name...">
                        </div>
                        <div class="col-sm-2">
                            <select name="" id="selectFriendsList">
                                <option value="0" disabled selected hidden>Friends list</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-10 alert alert-danger ml-3 mt-2 mb-0" id="alertUserDoesntExist" style="display:none">
                            <strong>Error!</strong> User doesn't exist.
                    </div>
                    <br><label class="control-label col-sm-12 text-muted">Subject:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="subject" id="subjectInput" placeholder="Subject...">
                    </div>
                    <br><label class="control-label col-sm-12 text-muted">Message:</label>
                    <div class="col-sm-10">
                        <textarea cols="35" rows="7" name="content" id="contentInput" placeholder="Message content..." style="resize:none;overflow-x: hidden;"></textarea>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="sendMessageBtn">Send message</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete msg modal -->
<div class="modal fade" id="deleteMsgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete messages</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete selected messages?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" id="confirmDeleteMsgBtn">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>


    <script>
        $(function() {
            {% if friends.count > 0 %}
                {% for f in friends.all %}
                    $("#selectFriendsList").append(
                      '<option>' + "{{ f.friend.username }}" + '</option>'
                    );
                {% endfor %}
            {% endif %}

            $("#selectFriendsList").change(function() {
                var selected_friend = $("#selectFriendsList option:selected").text();
                $("#recipientInput").val(selected_friend);
            });

            function lookForChecked() {
                if($(".out-one-check").is(":checked") || $(".in-one-check").is(":checked")) {
                    $("#deleteMsgBtn").show();
                } else {
                    $("#deleteMsgBtn").hide();
                }
            }
            $(".out-one-check").change(function() {
                lookForChecked();
            });
            $(".in-one-check").change(function() {
                lookForChecked();
            });

            $("#in-all-check").change(function() {
                if($("#in-all-check").prop("checked")) {
                    $(".in-one-check").prop("checked", true);
                } else {
                    $(".in-one-check").prop("checked", false);
                }
                lookForChecked();
            });

            //Send the message
            $("#sendMessageBtn").click(function() {
                var recipient = $("#recipientInput").val();
                var subject = $("#subjectInput").val();
                var content = $("#contentInput").val();

               $.ajax({
                   url : "{% url 'interaction:send_message' %}",
                   type : 'POST',
                   data : {'recipient': recipient, 'subject': subject, 'content': content}
               }).done(function(response) {
                    if(response.error) {
                        $("#alertUserDoesntExist").fadeIn(100).fadeOut(5000);
                    } else {
                        window.location.reload();
                    }
               })
            });

            //Outbox checkbox logic
            $("#out-all-check").change(function() {
                if($("#out-all-check").prop("checked")) {
                    $(".out-one-check").prop("checked", true);
                } else {
                    $(".out-one-check").prop("checked", false);
                }
                lookForChecked();
            });

            $("#confirmDeleteMsgBtn").click(function() {
                var checkedInMsgs = $('.in-one-check:checkbox:checked');
                var checkedOutMsgs = $('.out-one-check:checkbox:checked');
                var inMsgsToDelete = [];
                var outMsgsToDelete = [];
                for(var i = 0; i < checkedInMsgs.length; i++) {
                    inMsgsToDelete.push(checkedInMsgs[i].id)
                }
                for(var i = 0; i < checkedOutMsgs.length; i++) {
                    outMsgsToDelete.push(checkedOutMsgs[i].id)
                }

                $.ajax({
                    url : "{% url 'interaction:messages' %}",
                    type : "POST",
                    data : { 'action': 'delete_msgs', 'in_msgs': inMsgsToDelete, 'out_msgs': outMsgsToDelete }
                }).done(function(response) {
                    window.location.reload();
                });


            });

            //Display inbox
            $("#inboxBtn").click(function() {
                if($("#inboxDiv").is(':visible'))
                    $("#inboxDiv").hide(200);
                else
                    $("#inboxDiv").show(200);
            });

            //Display outbox
            $("#outboxBtn").click(function() {
                console.log('clicked outbox')
                if($("#outboxDiv").is(':visible')) {
                    console.log('visible');
                    $("#outboxDiv").hide(200);
                }
                else {
                    console.log('unvisible');
                    $("#outboxDiv").show(200);
                }
            });

            // Currently selected message
            var messagePk;
            var sender;
            var recipient;
            var title;
            var content;

            // Clicking a message
            $(".link").click(function(e) {
                e.preventDefault();
                var messagePk = $(this).attr('id');
                var mailBox = $(this).attr('name');

                sender = $("#sender" + messagePk).text();
                recipient = $("#recipient" + messagePk).text();
                title = 'RE:' + $("#title" + messagePk).text();
                content = '\n\n---- ' + sender + ' wrote: ----\n' + $("#content" + messagePk).text();

                $("#recipientInput").val(sender);
                $("#subjectInput").val(title);
                $("#contentInput").val(content);
                $(this).removeClass("text-light");

                var selectedElement = $("#message" + mailBox + messagePk);

                var isVisible = selectedElement.is(':visible');

                if(isVisible) {
                    selectedElement.hide(200);
                } else {
                    if(mailBox == 'inbox') {
                        $(".message.inbox").hide();
                        selectedElement.show(200);
                    }
                    else if(mailBox == 'outbox')
                    $(".message.outbox").hide();
                        selectedElement.show(200);
                }


                // Logic for read/unread message
                var read = $(this).hasClass( "True" );
                console.log(read);
                console.log(recipient);
                console.log('{{ user.get_username }}');
                if(!read && recipient === '{{ user.get_username }}') {
                    $(this).removeClass("False");
                    $(this).addClass("True");

                    $.ajax({
                        url : "{% url 'interaction:read_message' %}",
                        type : "POST",
                        data : { messageToUpdate: messagePk}
                    }).done(function(returned_data){
                        $(this).removeClass( "text-light" );
                        $(this).addClass( "text-info" );
                    });
                }
            });

            // Creating new message
            $("#newMsgBtn").click(function() {
                $(".message").hide();
                $("#recipientInput").val('');
                $("#subjectInput").val('');
                $("#contentInput").val('');
                $('#selectFriendsList').val("0");
            });
        });
    </script>

{% endblock %}