{% extends 'mypage/base.html' %}
{% block title %} Backlog - Manage your backlog {% endblock %}

{% block body %}

    <div class="container text-center">
        <div class="col-lg-12 mt-4">
            <h1 id="backlog-main-header">My Backlog</h1>
            <p class="text-muted">Having a movie on your mind that you haven't gotten around to see yet? Add it to your backlog!</p>
            <hr class="bg-secondary">
        </div>
    </div>

        <div class="container mt-4">

            <div class="row ml-1">

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="searchDiv">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search movie title..." id="titleinput" name="titleinput" value="">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" id="searchMovieBtn" name="singleResultBtn" value="1">Go!</button>
                            </span>
                        </div>
                        <button class="btn btn-dark" type="submit" id="multipleResultsBtn" name="multipleResultsBtn" value="1">Show more results...</button>
                        <br>
                    </div>
                    <div class="mt-3">
                        <h5 id="backlog-list-header">BACKLOG</h5>
                        {% if m_backlog %}
                            <div id="backlogDiv">
                        {% for m in m_backlog %}
                            <p class="mb-0"><a href="{% url 'mypage:detail' m.movie.pk %}" class="text-white">{{ m.movie.title }}</a></p>
                        {% endfor %}
                            </div>
                            {% else %}
                            <p class="lead text-muted">You haven't added any movies to your Backlog yet! Get started by searching for a movie title and adding it to your Backlog.</p>
                        {% endif %}
                    </div>


                </div>

                <!-- Movie search result -->
                <div class="text-light mx-auto mt-5" id="loadingIcon">
                    <i class="fas fa-sync fa-spin fa-4x mt-5"></i>
                </div>
                <div class="mx-auto" id="alertMovieNotFound">
                    <div class="alert alert-warning mt-5" role="alert">
                        No movie found with that title.
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" id="movieSearchResult">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                            <img class="img-fluid" id="resultPoster" src="" alt="">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                            <h1 id="resultTitle"></h1>
                            <span class="text-muted">Release year: </span><span class="text-white" id="resultYear"></span>
                            <br><span class="text-muted">Director: </span><span class="text-white" id="resultDirector"></span>
                            <br><span class="text-muted">Plot:</span>
                            <p class="text-white" id="resultPlot"></p>
                            <br>
                            <button class="btn btn-success addMovieBtn" id="resultTitle">+ Add to backlog</button>
                        </div>
                    </div>
                </div>

                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ml-auto">
                    <div class="row" id="moviesSearchResult"></div>
                </div>
            </div>

        </div>





    <script>
$(function() {

    // Delete from backlog
    $(".delBacklogBtn").click(function() {
        var backlogToDelete =  $(this).attr('name');
        console.log('clicked to remove backlog with movie.pk ' + backlogToDelete);

        $.ajax({
            url : 'delete/',
            type : "POST",
            data : { backlogToDelete: backlogToDelete}
        }).done(function(returned_data){
            window.location.href = '{% url 'mypage:backlog' %}';

        });
    });

    // Add singlechoice to backlog
    $(".addMovieBtn").click(function() {
        console.log('clicked to save backlog');
        var movie = {
            'title': $("#resultTitle").text(),
            'year': $("#resultYear").text(),
            'director': $("#resultDirector").text(),
            'poster': $("#resultPoster").attr("src"),
            'plot': $("#resultPlot").text()
        };
        addMovieToBacklog(movie);
    });
    function saveToBacklogDone(response) {
        console.log("Save done! :)");
    }
    // Add multiplechoice to backlog
    $(".addBacklogMultiChoiceBtn").click(function() {
        var title = $(this).attr('id');

        console.log('clicked to save multichoice backlog');

        $.ajax({
            url : 'addmultichoice/',
            type : "POST",
            data : { title: title }
        }).done(function(returned_data){
            window.location.href = '{% url 'mypage:backlog' %}';
        });
    });

    $("#titleinput").keyup(function(e) {
        e.preventDefault();
        if (e.keyCode === 13) {
            $("#searchMovieBtn").click();
        }
    });
    $("#searchMovieBtn").click(function() {
        $("#moviesSearchResult").hide();
        $("#loadingIcon").show();
        console.log('searchMovieBtn');
        $("#movieInfo").hide();
        var titleInput = $("#titleinput").val();
        $.ajax({
            url : '{% url "mypage:get_movie" %}',
            type : "POST",
            data : { title: titleInput }
        }).done(function(response){
            console.log(response);
            if(response.Error) {
                console.log("Movie not found");
                $("#movieSearchResult").hide();
                $("#loadingIcon").hide();
                $("#alertMovieNotFound").fadeIn(200).fadeOut(4000);
                $("#multipleResultsBtn").show();
            } else {
                $("#resultTitle").text(response.Title);
            $("#resultDirector").text(response.Director);
            $("#resultPoster").attr("src", response.Poster);
            $("#resultYear").text(response.Year);
            $("#resultPlot").text(response.Plot);
            $("#loadingIcon").hide();
            $("#movieSearchResult").show();
            $("#multipleResultsBtn").show();
            }

        });
    });

    // Show all titles
        $("#multipleResultsBtn").click(function() {
            $("#movieSearchResult").hide();
            $("#moviesSearchResult").empty();

            var title = $("#titleinput").val();
            console.log(title);
            $.ajax({
                method: "POST",
                url: "getmovies/",
                data: {'title': title}
            }).done(function(response) {
                console.log(response);

                for(var i = 0; i < response.length; i++) {
                    $("#moviesSearchResult").append(
                        '<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mt-3">' +
                            '<h6 style="color:deepskyblue">' + response[i].Title + ' <span class="text-muted">(' + response[i].Year + ')</span></h6>' +
                            '<img class="img-fluid" src="' + response[i].Poster + '" alt="">' +
                            '<button class="btn btn-success addBacklogMultiChoiceBtn" id="' + response[i].Title + '">+ Add to backlog</button>' +
                            '</div>'
                    );
                }
                $("#moviesSearchResult").show();

            });
        });

});



    </script>

{% endblock %}