{% extends 'mypage/base.html' %}
{% block title %} MovieNight - Create your own movie night! {% endblock %}


{% block body %}

    <div class="container">
        <div class="col-lg-12 mt-4">
            <h1 style="color:deepskyblue">MovieNight Manager</h1>
                <p class="text-muted">Create a MovieNight Event and invite your friends!</p>
            <hr class="bg-secondary">
        </div>
    </div>



    <div class="container mt-4">
        <div class="row ml-1">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
                <button class="btn btn-dark btn-lg mb-4" data-toggle="modal" data-target="#newEventModal">Create new Event!</button>
                <h5 style="background:deepskyblue">ACTIVE EVENTS</h5>
                {% if created_movienights %}
                    <p class="mb-1 mt-3" style="color:deepskyblue">CREATOR:</p>
                    {% for c_movienight in created_movienights %}
                        {% if c_movienight.active %}
                        <p class="text-muted mt-1 mb-1 ml-3">{{ c_movienight.creation_date }} -> <a href="/movienightevent/{{ c_movienight.pk }}" style="color:deepskyblue"> {{ c_movienight.title }}</a></p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if participant_movienights %}
                    <p class="mb-1 mt-3" style="color:deepskyblue">PARTICIPANT:</p>
                    {% for p_movienight in participant_movienights %}
                        <p class="text-muted mt-1 mb-1 ml-3">{{ p_movienight.creation_date }} -> <a href="/movienightevent/{{ p_movienight.pk }}" style="color:deepskyblue"> {{ p_movienight.title }}</a>
                        created by <a href="/user/{{ p_movienight.creator.username }}" style="color:limegreen">{{ p_movienight.creator.username }}</a></p>
                    {% endfor %}
                {% endif %}
                {% if invited_movinights %}
                    <p style="color:deepskyblue">NOT YET ACCEPTED INVITATIONS:</p>
                    {% for i_movienight in invited_movinights %}
                        <p class="text-muted mt-1 mb-1 ml-3">{{ i_movienight.creation_date }} -> <a href="/movienightevent/{{ i_movienight.pk }}" style="color:deepskyblue"> {{ i_movienight.title }}</a>
                        created by <a href="/user/{{ i_movienight.creator.username }}" style="color:limegreen">{{ i_movienight.creator.username }}</a></p>
                    {% endfor %}
                {% endif %}

                <h5 class="mt-4" style="background:deepskyblue">PAST EVENTS</h5>
                {% if created_movienights %}
                    {% for c_movienight in created_movienights %}
                        {% if not c_movienight.active %}
                            <p class="text-muted mt-1 mb-1 ml-3">{{ c_movienight.creation_date }} -> <a href="/movienightevent/{{ c_movienight.pk }}" style="color:deepskyblue"> {{ c_movienight.title }}</a> (Creator)</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if participant_movienights %}
                    {% for p_movienight in participant_movienights %}
                        {% if not p_movienight.active %}
                            <p class="text-muted mt-1 mb-1 ml-3">{{ p_movienight.creation_date }} -> <a href="/movienightevent/{{ p_movienight.pk }}" style="color:deepskyblue"> {{ p_movienight.title }}</a>
                        created by <a href="/user/{{ p_movienight.creator.username }}" style="color:limegreen">{{ p_movienight.creator.username }}</a></p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


<!-- Creation Modal -->
<div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background:deepskyblue">
      <div class="modal-header bg-dark" style="color:deepskyblue">
        <h5 class="modal-title" id="exampleModalLabel">QUICK SETTINGS (changeable later)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark">
        <form class="form-horizontal" role="form" action="." method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-10">
                        <label class="control-label col-sm-12 text-muted">Name for the event:</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="eventname" placeholder="Enter a name...">
                        </div>
                        <br><label class="control-label col-sm-12 text-muted">Max number of movies users can nominate:</label>
                        <div class="col-sm-10">
                            <select name="nrmovies" id="">
                                <option value="1"> 1 </option>
                                <option value="2"> 2 </option>
                                <option value="3"> 3 </option>
                                <option value="4"> 4 </option>
                                <option value="5"> 5 </option>
                            </select>
                        </div>
                        <br>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Create event!</button>
                        </div>
                    </div>
                </div>

            </form>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


    <script>
        {% for mn in created_movienights.all %}
            if(new Date() > new Date('{{ mn.date.timestamp }}' * 1000)) {
                console.log('{{ mn.title }}' + " is old");
                loadCRF();
                $.ajax({
                    url : '.',
                    type: "POST",
                    data: { 'movienight_pk' : {{ mn.pk }}, 'action': 'make_inactive' }
                }).done(function(timeNow){
                    //console.log(returned_data);
                });
            } else {
                console.log('{{ mn.title }}' + " is still active");
            }
        {% endfor %}

    </script>

{% endblock %}