{% extends 'mypage/base.html' %}
{% block title %} {{ movienight.title }} - MovieNight Event {% endblock %}
{% load static %}

{% block body %}

    <div class="container-flow">
        <div class="col-lg-12 mt-3 text-center">
            <h1 class="mb-0 text-movienight">{{ movienight.title }}</h1>
            <p class="text-muted mt-0 mb-1">Created {{ movienight.creation_date }} by <a class="text-profile" href="/user/{{ movienight.creator.username }}">{{ movienight.creator.username }}</a></p>
            {% if request.user in movienight.invited_users.all %}
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#acceptInvModal"><i class="fas fa-check" aria-hidden="true"></i> Accept invitation</button>
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#declineInvModal"><i class="fas fa-times" aria-hidden="true"></i> Decline invitation</button>
                {% endif %}


            <hr class="bg-secondary">
        </div>
    </div>

    <div class="container-flow mt-3 ml-4 mr-4 pl-4 pr-4">
        <div class="row">

            <!------------------ LEFT ---------------->
            <div class="col-lg-3 mb-4 mx-auto">
                <div>
                    <h5 class="header-box bg-light"><i class="fas fa-info-circle" aria-hidden="true"></i> Info </h5>
                    <p class="text-muted ml-2 mt-0 mb-0">Description:</p>
                    <p class="text-light ml-2">{{ movienight.description }}</p>
                    <p class="text-muted ml-2 mt-0 mb-0">Time & place:</p>
                    <p class="text-light ml-2">{{ display_date }}<span class="text-muted"> @ </span>{{ movienight.location }}</p>
                    <p class="text-muted ml-2">Max nominations per user: <span class="text-light"> {{ movienight.list_size }}</span></p>
                    <p class="text-muted ml-2 mt-0 mb-0">Current phase: <span class="text-light" id="infoCurrentPhase"> {{ movienight.current_phase }}</span></p>
                </div>

                <div class="mt-4">
                    <div>
                        <h5 class="header-box bg-light"><i class="fas fa-users" aria-hidden="true"></i> Users</h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mt-2">
                            <div>
                                <p class="mb-0 text-profile"><i class="fas fa-thumbs-up"></i> PARTICIPANTS:</p>
                            </div>
                            {% for u in movienight.users.all %}
                                <div>
                                    <a href="/user/{{ u.username }}" class="text-white ml-4">{{ u.username }}</a>{% if u.username == movienight.creator.username %} <span class="text-movienight"><small>Creator</small></span> {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-6">
                            {% if movienight.invited_users.all %}
                                <div class="mt-2">
                                    <p class="mb-0 text-profile"><i class="fas fa-address-card"></i> INVITED:</p>
                                </div>
                                {% for u in movienight.invited_users.all %}
                                    <div>
                                        <a href="/user/{{ u.username }}" class="text-white ml-4">{{ u.username }}</a>{% if u.username == movienight.creator.username %} <span class="text-movienight"><small>Creator</small></span> {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if movienight.declined_users.all %}
                                <div class="mt-2">
                                    <p class="mb-0 text-red"><i class="fas fa-thumbs-down"></i> DECLINED:</p>
                                </div>
                                {% for u in movienight.declined_users.all %}
                                    <div>
                                        <a href="/user/{{ u.username }}" class="text-white ml-4">{{ u.username }}</a>{% if u.username == movienight.creator.username %} <span class="text-movienight"><small>Creator</small></span> {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!------------- MID ------------------->
            <div class="col-sm-8 col-md-8 col-lg-6">
                <div class="text-center">
                    <img class="img-fluid rounded" src="{{ movienight.decoration_url }}" alt="" style="max-height:500px">
                </div>
                <div class="mt-4 mb-5 mx-auto">
                    <h5 class="bg-dark text-light mb-0 p-1 border border-light">CHAT</h5>
                    <div class="bg-light mb-1 pl-3" style="max-height:175px;overflow:scroll" id="chatWindow">
                        {% if chat.all %}
                            {% for c in chat.all %}
                                <p class="mb-0 mt-0"><small><i class="text-muted">{{ c.timestamp|date:'Y-m-d H:i' }}</i></small></p>
                                <p class="mt-0 mb-2"><b>{{ c.author }} </b> : {{ c.text }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-group">
                        <input class="form-control col-lg-5" type="text" id="chatMessage" placeholder="Write your message...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" id="sendMessageBtn">Send</button>
                        </span>
                    </div>

                </div>
            </div>



            <!-- RIGHT SIDE -->
            <div class="col-sm-4 col-md-4 col-lg-3">
                {% if request.user == movienight.creator %}
                    <div class="col-sm-12 col-md-8 col-lg-12 mb-3 text-center mx-auto border border-secondary rounded pt-3 pb-3">
                        <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#eventSettingsModal"><i class="fas fa-cog" aria-hidden="true"></i></button>
                        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#inviteUserModal"><i class="fas fa-user-plus" aria-hidden="true"></i></button>
                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteEventModal"><i class="fas fa-trash" aria-hidden="true"></i></button>
                        <button class="btn btn-light btn-sm" data-toggle="modal" data-target="#nextPhaseModal"><i class="fas fa-lock-open" aria-hidden="true"></i></button>
                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#infoModal"><i class="fas fa-question-circle" aria-hidden="true"></i> Info</button>
                    </div>
                {% endif %}

                <h5 class="header-box bg-grey" id="nominateHeader">1. <i class="fas fa-list" aria-hidden="true"></i> Nominate</h5>
                <div class="mb-2" id="nominateDiv">
                    <p class="text-muted ml-2">Let's begin! Make a list of movies that you would like to nominate for this event.</p>
                    {% if request.user in movienight.users.all %}
                        <a href="{{ request.user.username }}/" type="button" class="ml-2 btn btn-warning btn-sm">Edit my nominations</a>
                        <p class="text-light ml-4"><input type="checkbox" id="inputNominationDone"
                    {% endif %}
                    {% for l in movie_lists.all %}
                        {% if l.user.username == request.user.username %}
                            {% if l.marked_done %}
                                checked
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <p> My list is complete</p>
                    <p class="text-muted ml-2 mt-1 mb-0"><small>Done with nominations list:</small></p>
                    <p class="ml-2 text-profile" id="usersNominationsDone">
                        {% for l in movie_lists %}
                            {% if l.marked_done %}
                                <span id="{{ l.user.username }}"><small><i class="fas fa-check-circle" aria-hidden="true"></i> {{ l.user.username }} </small></span>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>

                <h5 class="header-box bg-grey" id="voteHeader">2. <i class="fas fa-sort-numeric-down" aria-hidden="true"></i> Vote</h5>
                <div class="mb-2" id="voteDiv">
                    <p class="text-muted ml-2">Time to vote! Click on a list below to bring up the movies it contains and to cast your vote. And yes, you are supposed to vote on your own list too.</p>
                {% for u in movienight.users.all %}
                    <div class="ml-2">
                        <a href="vote/{{ u.username }}/" class="text-white">Movie list by {{ u.username }}</a><p class="ml-2 text-profile"><small><span class="text-muted">Voted:</span>
                        {% for l in movie_lists %}
                            {% if u.username == l.user.username %}
                                {% if l.users_voted.all %}
                                     {% for uv in l.users_voted.all %} <i class="fas fa-check-circle" aria-hidden="true"></i> {{ uv.username }}{% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}</small></p>
                    </div>
                {% endfor %}
                </div>

                <h5 class="header-box bg-grey" id="resultsHeader">3. <i class="fas fa-eye" aria-hidden="true"></i> Results</h5>
                <div class="mb-2" id="resultsDiv">
                    <p class="text-muted ml-2">Golly jolly! It's time to see the results of everyones voting...</p>
                    <button class="btn btn-primary btn-sm ml-4" id="voteResultsBtn">Reveal voting results!</button>
                </div>

            </div>
        </div>
    </div>
    <div class="container" id="votedMovies" {% if request.user not in movienight.result_viewed_users.all %} style="display:none" {% endif %}>

    </div>


    <!-- Settings Modal -->
<div class="modal fade" id="eventSettingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-movienight">
      <div class="modal-header bg-dark text-movienight">
        <h4 class="modal-title" id="exampleModalLabel">Settings</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark">
      {% if not movienight.editable %} <p class="text-warning pl-2 pr-2">Because at least one movie list is already created, you can no longer change max number of movies users can nominate.</p> {% endif %}
        <form class="form-horizontal" role="form" action="{% url 'mypage:movienight_event' movienight.pk %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-10">
                        <label class="control-label col-sm-12 text-muted">Event description:</label>
                        <div class="col-sm-12">
                            <textarea cols="35" rows="5" name="description" placeholder="Description..." style="resize:none;overflow-x: hidden;">{{ movienight.description }}</textarea>
                        </div>
                        <label class="control-label col-sm-12 text-muted mt-2">Date & Time</label>
                        <div class="form-row col-sm-12">
                            <div class="col-sm-7">
                                <input class="form-control" type="date" max="2999-12-31" name="date" placeholder="" value="{{ usable_date }}">
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" type="time" max="23:59:59" name="time" placeholder="" value="{{ usable_time }}">
                            </div>
                        </div>

                        <label class="control-label col-sm-12 text-muted mt-2">Location</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="location" placeholder="Location or address..." value="{{ movienight.location }}">
                        </div>
                        <label class="control-label col-sm-12 text-muted mt-2">Image upload:</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="url" name="decoration" placeholder="URL to image..." value="{{ movienight.decoration_url }}">
                        </div>
                        <label class="control-label col-sm-12 text-muted mt-2">Max number of movies users can nominate:</label>
                        <div class="col-sm-10">
                            <select name="nrmovies" id="listSizeInput" {% if not movienight.editable %} disabled {% endif %}>
                                <option value="1"> 1 </option>
                                <option value="2"> 2 </option>
                                <option value="3"> 3 </option>
                                <option value="4"> 4 </option>
                                <option value="5"> 5 </option>
                            </select>
                        </div>
                    </div>
                </div>
            <div class="modal-footer bg-dark">
                <button class="btn btn-success" type="submit" name="action" value="settings">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Event Modal -->
<div class="modal fade" id="deleteEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-movienight">
      <div class="modal-header bg-dark text-movienight">
        <h5 class="modal-title" id="exampleModalLabel">Delete event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark text-light">
        <p>Are you sure you want to delete this event?</p>
      </div>
      <div class="modal-footer bg-dark">
        <form method="post" action="{{ request.build_absolute_uri }}delete">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Yes</button>
        </form>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Invite User Modal ---->
<div class="modal fade" id="inviteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-movienight">
            <div class="modal-header bg-dark text-movienight">
                <h5 class="modal-title" id="exampleModalLabel">Invite User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-dark">
                <div class="form-group">
                    <div class="col-sm-10">
                        <label class="control-label col-sm-12 text-muted">User to invite:</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="username" id="inputInviteUser" placeholder="Username..." value="">
                            <div class="alert alert-warning mt-2" id="alertUserNotFound">
                                <strong>User was not found.</strong>
                            </div>
                            <div class="alert alert-warning mt-2" id="alertUserAlreadyParticipant">
                                <strong>User is already a participant in this event.</strong>
                            </div>
                            <div class="alert alert-warning mt-2" id="alertUserAlreadyInvited">
                                <strong>User is already invited to this event.</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-dark">
                    <button class="btn btn-success" id="inviteUserBtn" type="button" name="action" value="inviteUser">Send invite</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Accept Invitation Modal ---->
<div class="modal fade" id="acceptInvModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-movienight">
      <div class="modal-header bg-dark text-movienight">
        <h4 class="modal-title" id="exampleModalLabel">Confirm Accept</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark text-light">
        <h5>Are you sure you want to join this event?</h5>
      </div>
      <div class="modal-footer bg-dark">
        <button class="btn btn-success" id="acceptInvBtn">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Decline Invitation Modal ---->
<div class="modal fade" id="declineInvModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-movienight">
      <div class="modal-header bg-dark text-movienight">
        <h4 class="modal-title" id="exampleModalLabel">Confirm Decline</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark text-light">
        <h5>Are you sure you want to decline the invitation?</h5>
      </div>
      <div class="modal-footer bg-dark">
        <button class="btn btn-success" id="declineInvBtn">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Next Phase Modal ---->
<div class="modal fade" id="nextPhaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-movienight">
      <div class="modal-header bg-dark text-movienight">
        <h4 class="modal-title" id="exampleModalLabel">Next Phase</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark text-light">
          {% if movienight.current_phase == 1 %}
            <p>No one will be able to edit their nomination lists once you unlocks Phase 2 - Voting.</p>
            <p>Continue?</p>
          {% elif movienight.current_phase == 2 %}
              <p>Phase 3 unlocks the button <button class="btn btn-primary btn-sm">Reveal voting results!</button> for all users.
                Clicking the button will reveal the final results of the voting.</p>
              <p>Continue?</p>
          {% elif movienight.current_phase == 3 %}
              <p>You are already at the final phase.</p>
          {% endif %}
      </div>
      <div class="modal-footer bg-dark">
          {% if movienight.current_phase < 3 %}
            <button class="btn btn-success" id="nextPhaseBtn">Yes</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          {% else %}
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          {% endif %}

      </div>
    </div>
  </div>
</div>

<!-- Info Modal ---->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-movienight">
      <div class="modal-header bg-dark text-movienight">
        <h4 class="modal-title" id="exampleModalLabel">Info - The Creator Control Panel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark text-light p-4">
          <p>
              <button class="btn btn-secondary btn-sm"><i class="fas fa-cog" aria-hidden="true"></i></button>
               This is your general event settings where you can set a description of the event, time & place, event
               image, and also decide how many movies each participant gets to nominate.
          </p>
          <p>
              <button class="btn btn-success btn-sm"><i class="fas fa-user-plus" aria-hidden="true"></i></button>
               Invite a user to the event.
          </p>
          <p>
              <button class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i></button>
               Delete the event.
          </p>
          <p>
              <button class="btn btn-light btn-sm"><i class="fas fa-lock-open" aria-hidden="true"></i></button>
               With this button, you unlock the next phase. There are three main phases, in order:
               Nominate, Vote and Result. Once you advance from one phase to the next, the previous phase is no
               longer available. Therefore, please make sure the other users are done with the current phase
               before you advance.
          </p>
          <p class="lead">Have fun!</p>


      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Unlock Result Button Modal ---->
<div class="modal fade" id="unlockResultBtnModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-movienight">
      <div class="modal-header bg-dark text-movienight">
        <h4 class="modal-title" id="exampleModalLabel">Unlock 'Voting results' button</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark text-light">
        <h5>Unlock the button <button class="btn btn-warning">Reveal voting results!</button> for all users?</h5>
          <p>This button will appear on the the event page for all participants. Clicking it will reveal the
              final results of the voting.</p>
          <p>After clicking the button once, the button will disappear and the results will always be shown on the page.</p>
      </div>
      <div class="modal-footer bg-dark">
        <button class="btn btn-success" id="unlockResultBtnBtn">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

    <script>
        function activatePhase(phase) {
            $("#nominateDiv").hide();
            $("#voteDiv").hide();
            $("#resultsDiv").hide();
            $("#nominateHeader").css("background-color", "grey");
            $("#voteHeader").css("background-color", "grey");
            $("#resultsHeader").css("background-color", "grey");
            if(phase == 1) {
                $("#nominateHeader").css("background-color", "orange");
                $("#nominateDiv").show();
            } else if(phase == 2) {
                $("#voteHeader").css("background-color", "yellow");
                $("#voteDiv").show();
            } else if(phase == 3) {
                $("#resultsHeader").css("background-color", "deepskyblue");
                $("#resultsDiv").show();
            }
        }
        $(function() {
            activatePhase({{ movienight.current_phase }});
            $("#chatWindow").scrollTop($('#chatWindow')[0].scrollHeight);
            $("#listSizeInput").val({{ movienight.list_size }});

            {% if request.user in movienight.result_viewed_users.all %}
                $.ajax({
                    url : './get_vote_results/',
                    type : "GET"
                }).done(function(returned_data){
                    for(var i = 0; i < returned_data.length; i++) {
                        if(i == 0) {
                            $("#votedMovies").append(
                                '<div class="row" id="movieRow">' +
                                getMovieDiv(returned_data[i], i, "goldenrod", 4, 3)
                                + '</div>'
                            );
                        } else if(i == 1) {
                            $("#movieRow").append(
                                getMovieDiv(returned_data[i], i, "silver", 4, 3)
                            );
                        } else if(i == 2) {
                            $("#movieRow").append(
                                getMovieDiv(returned_data[i], i, "maroon", 4, 3)
                            );
                        } else {
                            $("#movieRow").append(
                                getMovieDiv(returned_data[i], i, "grey", 3, 5)
                            );
                        }
                    }
                });
            {% endif %}

            // Polling to check for new chat msgs
            function checkChat() {
                $.ajax({
                    url: ".",
                    type: 'POST',
                    data: {'action': 'check', 'nr_messages': $("#chatWindow > p").length / 2},

                    success: function (json) {
                        if(json != 'No change') {
                            $("#chatWindow").empty();
                            for(var i = 0; i < json.length; i++) {
                               $("#chatWindow").append(
                                    '<p class="mb-0 mt-0"><small><i class="text-muted">' + json[i].timestamp + '</i></small></p>' +
                                    '<p class="mt-0 mb-2"><b>' + json[i].author + '</b> : ' + json[i].text + '</p>'
                               )

                            }
                            $('#chatWindow').stop().animate({
                                scrollTop: $('#chatWindow')[0].scrollHeight
                            }, 800);
                        }
                    }
                });
                setTimeout(checkChat, 3000)
            }
            checkChat();

            $("#chatMessage").keyup(function(e) {
                e.preventDefault();
                if (e.keyCode === 13) {
                    $("#sendMessageBtn").click();
                }
            });
            $("#sendMessageBtn").click(function() {
                var text = $("#chatMessage").val();
                console.log(text);
                $.ajax({
                    url : '{% url "mypage:movienight_event" movienight.pk %}',
                    type : "POST",
                    dataType: "json",
                    data : { 'text': text, 'action': 'save_chat_message' }
                }).done(function(timeNow){
                    //console.log(returned_data);
                    $("#chatWindow").append('<p class="mb-0 mt-0"><small><i class="text-muted">' + timeNow + '</i></small></p>');
                    $("#chatWindow").append('<p class="mt-0 mb-2"><b>{{ user.username }} </b> : ' + text + '</p>');
                    $('#chatWindow').stop().animate({
                        scrollTop: $('#chatWindow')[0].scrollHeight
                    }, 800);
                    $("#chatMessage").val("");
                });
            });

            $("#inviteUserBtn").click(function() {
                var user = $("#inputInviteUser").val();
                $.ajax({
                   url : '.',
                   type : 'POST',
                   data : { 'action': 'invite_user', 'user': user }
                }).done(function(response) {
                   if(response.error) {
                       if(response.error == 'userDoesNotExist') {
                           $("#alertUserNotFound").fadeIn(200).fadeOut(5000);
                       } else if(response.error == 'userAlreadyInvited') {
                           $("#alertUserAlreadyInvited").fadeIn(200).fadeOut(5000);
                       } else if(response.error == 'userAlreadyParticipant') {
                           $("#alertUserAlreadyParticipant").fadeIn(200).fadeOut(5000);
                       }
                   } else {
                       window.location.reload();
                   }
                });
            });

            $("#inputNominationDone").change(function() {
                if($(this).is(":checked")) {
                   $.ajax({
                       url : '.',
                       type : 'POST',
                       data : {'action' : 'nominations_done'}
                   }).done(function() {
                        $("#usersNominationsDone").append(
                        '<span id="{{ request.user.username }}"><small><i class="fas fa-check-circle" aria-hidden="true"></i> {{ request.user.username }}</small></span>'
                    );
                   });
                } else {
                    $.ajax({
                       url : '.',
                       type : 'POST',
                       data : {'action' : 'nominations_undone'}
                   }).done(function() {
                       $("#usersNominationsDone").children("#" + '{{ request.user.username }}').remove();

                   });
                }
            });

            $("#nextPhaseBtn").click(function() {
               $.ajax({
                   url : '.',
                   type : 'POST',
                   data : {'action' : 'change_phase'}
               }).done(function(response) {
                  window.location.reload();
               });
            });

            $("#acceptInvBtn").click(function() {
               $.ajax({
                   url : '.',
                   type : "POST",
                   data : { 'action': 'accept_invitation' }
               }).done(function(returned_data) {
                    console.log(returned_data);
                    window.location.reload();
               });
            });
            $("#declineInvBtn").click(function() {
               $.ajax({
                   url : '.',
                   type : "POST",
                   data : { 'action': 'decline_invitation' }
               }).done(function(returned_data) {
                    console.log(returned_data);
                    window.location.reload();
               });
            });

            $("#unlockResultBtnBtn").click(function() {
                //result_viewable -> true
                $.ajax({
                    url : '.',
                    type : 'POST',
                    data : { 'action' : 'result_viewable' }
                }).done(function(returned_data) {
                    window.location.reload();
                });
            });

            function getMovieDiv (vote, index, color, colSize, hSize) {
                var trophy = '';
                if(index < 3) {
                    trophy = '<i class="fas fa-trophy" aria-hidden="true" style="color:' + color + '"></i> '
                }

                return '<div class="col-lg-' + colSize + ' p-0 mb-4">' +
                            '<div>' +
                                '<div class="col-lg-12 text-center">' +
                                    '<h' + hSize + ' class="text-light mb-0 pt-1 pb-1">' + trophy + vote.points + ' points</h' + hSize + '>' +
                                    '<p class="text-light mb-0 pt-1 pb-0">' + vote.movie.title + ' (' + vote.movie.year + ')</p>' +
                                    '<p class="text-muted mb-0 pt-0 pb-1"><small>Nominated by <a href="/user/' + vote.nominated_by + '" style="color:limegreen">' + vote.nominated_by + '</a></small></p>' +
                                '</div>' +
                                '<div class="col-lg-12 text-center">' +
                                    '<img class="img-fluid text-light text-center" id="resultPoster" data-toggle="tooltip" title="Teee" src="' + vote.movie.poster + '" alt="Missing movie poster">' +
                                '</div>' +
                            '</div>' +
                        '</div>';
            }

            // Calculate votes, show results
            $("#voteResultsBtn").click(function() {
                $("#votedMovies").finish();
                $("#votedMovies").hide();
                $("#votedMovies").empty();
                console.log('voteResultsBtn');
                $.ajax({
                    url : './get_vote_results/',
                    type : "GET"
                }).done(function(returned_data){
                    for(var i = 0; i < returned_data.length; i++) {
                        if(i == 0) {
                            $("#votedMovies").append(
                                '<div class="row" id="movieRow">' +
                                getMovieDiv(returned_data[i], i, "goldenrod", 4, 3)
                                + '</div>'
                            );
                        } else if(i == 1) {
                            $("#movieRow").append(
                                getMovieDiv(returned_data[i], i, "silver", 4, 3)
                            );
                        } else if(i == 2) {
                            $("#movieRow").append(
                                getMovieDiv(returned_data[i], i, "maroon", 4, 3)
                            );
                        } else {
                            $("#movieRow").append(
                                getMovieDiv(returned_data[i], i, "grey", 3, 5)
                            );
                        }
                    }
                    $("#votedMovies").fadeIn(6000);
                        setTimeout(function(){
                            var votedMoviesY = $("#votedMovies").offset().top;
                            window.scrollTo(0, votedMoviesY);
                        }, 70);
                });
            });

        });


    </script>

{% endblock %}