{% extends 'mypage/base.html' %}
{% block title %} Register {% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-12 col-md-7 lg-12 mx-auto m-4">
                <div class="panel panel-default">
                    <div class="panel-body text-white">
                        <h1 class="display-4" style="color:deepskyblue">Create New Account</h1>
                        <p class="lead text-muted">Join the fun! You don't want to feel left out do you?</p>
                        <hr class="my-4 bg-secondary">
                        {% if messages %}
                          <ul class="messages">
                            {% for message in messages %}
                              <li class="{{ message.tags }} text-danger">{{ message }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" role="form" action="" method="post">
                            {% csrf_token %}
                            {% include 'mypage/form_template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-lg btn-dark" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}